*.tmp
*.swp
.DS_Store

.vscode/
.idea/
*.iml
*.log


/data
.env

# pycache
__pycache__/
ckpt/

runs/

*.pth
database/
*.png
dataset_information.ipynb
data_visualization.ipynb
test_from_database.py
test_knn.py
train_detective.py
script/train_detective.sh
script/test_from_database.sh

.runs
outputs/
dsvdd.zip